.logo{ /*LOGO PRINCIPAL DEL NAVEGADOR*/
    background-color: #ffffffa1;
   border-radius: 50%; 
   padding: 10px;
      .ColorNav{ /*COLOR DE LA BARRA DE NAVEGACION*/
      background-color: rgba(165, 42, 42, 0);
   }
}
