.DIVH2{ /*IMAGEN DE FONDO DE TITULO SECUNDARIO*/
    background-image: url(../assets/img/fondo\ de\ titulo\ princioal.jpg);
     background-repeat: no-repeat;
     padding: 1%;
     background-size: cover;
     .textoparrafo{ /*FORMATO DE TEXTO DE PARRAFO*/
        font-family: 'Roboto',
     }
 }
 
