.bg--img{
    background-image:   url(../assets/img/auto\ drif.jpg);
    background-repeat:no-repeat;
    .text-black .fs-4{
      font-family: 'Roboto';
      p{
         font-family: 'Roboto';
      }
   }
    
}
 