.formulariototal {
    display: flex;
    justify-content: center;
    align-items: center;
    .imagenformulario img {
        max-width: 100%;
        .formulario {
            padding: 20px;
          }
      }
  }
  

  